// ========================
// Main
// ========================

// Layout

.container {
  max-width: em(1000px);
  margin: 0 auto;
  padding: 0 em(15px) em(50px) em(15px);
}

.site-logo{
	margin-bottom: 2em;
	@include img-replace("logo.svg", 115px, 45px, inline-block);
}

.btn,
.progbar,
.tooltip{
	@include bg-colors($ui-colors);
}

.icn-toggle {
	@include p-el(before, 25px, 3px) {
		background-color: palette(grey, light);
		top: 4px;
	}
	width: 25px;
	height: 17px;
	position: absolute;
	border-top: solid 3px palette(grey);
	border-bottom: solid 3px palette(grey);
}

// Buttons

[class^="btn--"] {
  @extend %btn;
  margin-bottom: em(20px, 14px); 
  width: auto;
  display: inline-block;
  margin-right: em(15px, 14px);
}